<!DOCTYPE html>
<html>
<head>
	<title>自助签约</title>
	<meta charset="utf-8">
	<script src="./zzqy/js/vue.min.js"></script>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<link rel="stylesheet" type="text/css" href="./zzqy/css/index.css">
	<style type="text/css">
	</style>
</head>
<body >		
	<div id="app">
		<zz-hd1>
			<span slot="title">注册</span>
		</zz-hd1>
		<zz-dl1>
			<dt slot="title">手机号</dt>
			<input type="text" placeholder="请输入手机号" slot="inputval">
		</zz-dl1>
		<zz-dl1>
			<dt slot="title">密码</dt>
			<input type="password" placeholder="6-16位，要组合数字、字母或下划线" slot="inputval">
		</zz-dl1>
		<zz-dl1>
			<dt slot="title">确认密码</dt>
			<input type="password" placeholder="请再次输入密码" slot="inputval">
		</zz-dl1>
		<zz-dl2>
			<dt slot="title">验证码</dt>
			<input type="text" placeholder="请输入验证码" slot="inputval">
			<div class="thirddiv" slot="thirddiv"><img src="./zzqy/img/dom-yzm.png"></div>
		</zz-dl2>
		<zz-dl2>
			<dt slot="title">动态码</dt>
			<input type="text" placeholder="请输入动态验证码" slot="inputval">
			<div class="thirddiv" slot="thirddiv"><a href="#" @click="mfhq(60)" id='mfhqval'>免费获取</a></div>
		</zz-dl2>
		<div class="zz-rd1">
			<input type="radio" :checked="zzrd1val" style="display: none;">
			<img src="./zzqy/img/dom-wxz.png" v-if="zzrd1val" @click="zzrd1valc">
			<img src="./zzqy/img/dom-yxz.png" v-if="zzrd1val != 1" @click="zzrd1valc">
			我已阅读并同意 
			<a href="#"  @click="closetc1"> 《用户注册及服务协议》</a>
			<div class="zz-tc1" v-if="zztc1val">
				<div class="container">
					<ul @click="closetc1">确定</ul>
					<b @click="closetc1"><img src="./zzqy/img/icon-close.png"></b>
					<dl>
						<dt>用户注册服务协议</dt>
						<dd>
							用户注册服务协议服务协议服务协议XXX
							XXXXXXXXXXXXXXXXXXXXXXXXXXX
							用户注册服务协议服务协议服务协议XXX
							XXXXXXXXXXXXXXXXXXXXXXXXXXX
							用户注册服务协议服务协议服务协议XXX
							XXXXXXXXXXXXXXXXXXXXXXXXXXX
							用户注册服务协议服务协议服务协议XXX
							XXXXXXXXXXXXXXXXXXXXXXXXXXX
							用户注册服务协议服务协议服务协议XXX
							XXXXXXXXXXXXXXXXXXXXXXXXXXX
							用户注册服务协议服务协议服务协议XXX
							XXXXXXXXXXXXXXXXXXXXXXXXXXX
							用户注册服务协议服务协议服务协议XXX
							XXXXXXXXXXXXXXXXXXXXXXXXXXX
							用户注册服务协议服务协议服务协议XXX
							XXXXXXXXXXXXXXXXXXXXXXXXXXX
						</dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="zz-submit">
			<p v-if="zzrd1val" class="ison">注册</p>
			<p v-if="zzrd1val != 1">注册</p>
		</div>
	</div>
	<script src="./zzqy/js/index.js"></script>
	<script type="text/javascript">	
	</script>

</body>
</html>